<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/x-icon" href="img/icon.ico">
    <title>Map Connect</title>
</head>

<body>
    <div id="menu">
        <button onclick="changePage('main')">Main</button>
        <button onclick="changePage('settings')">Settings</button>
        <button onclick="changePage('joysticks')">Joysticks</button>
        <button onclick="changePage('more')">More</button>
    </div>
    <div id="menu-main">
        <br>
        <br>
        <div>
            <img src="img/logo.png" height="100px">
            <h1>Map Connect</h1>
        </div>
        <div id="connection-status">Connecting...</div>
        <br>
        <button onclick='reloadConnection()'>Reload connection</button>
    </div>
    <div style="display: none" id="menu-settings">
        <h2>Settings</h2>
        <div>
            Timer polling delay <b>(Please adjust this setting carefully, otherwise it may cause the IF to freeze)</b>: <span id="timer-polling-delay-show"></span>
            <br>
            <input id="timer-polling-delay-input" type="range" min="10" max="100" value="30">
        </div>
    </div>
    <div style="display: none" id="menu-joysticks">
        <h2>Joysticks</h2>
        <ul id="joysticks"></ul>
        <h4>Joysticks</h4>
        <div style="display: none;" id="select-axis-prompt">Please click on an axis</div>
        <div>
            Roll <button id="sel-roll" onclick="selectAxis('roll')">Select axis</button>
        </div>
        <div>
            Pitch <button id="sel-pitch" onclick="selectAxis('pitch')">Select axis</button>
        </div>
        <div>
            Yaw <button id="sel-yaw" onclick="selectAxis('yaw')">Select axis</button>
        </div>
        <div>
            Throttle <button id="sel-throttle" onclick="selectAxis('throttle')">Select axis</button>
        </div>
        <br>
        <h4>Buttons</h4>
        <div style="display: none;" id="select-btn-prompt">Please click on a button</div>
        <h4>Commands</h4>
        <div>
            Parking brakes <button id="sel-parkingbrakes" onclick="selectBtn('parkingbrakes')">Select button</button>
        </div>
        <div>
            Flaps down <button id="sel-flapsdown" onclick="selectBtn('flapsdown')">Select button</button>
        </div>
        <div>
            Flaps up <button id="sel-flapsup" onclick="selectBtn('flapsup')">Select button</button>
        </div>
        <div>
            Flaps full down <button id="sel-flapsfulldown" onclick="selectBtn('flapsfulldown')">Select button</button>
        </div>
        <div>
            Flaps full up <button id="sel-flapsfullup" onclick="selectBtn('flapsfullup')">Select button</button>
        </div>
        <div>
            Spoilers <button id="sel-spoilers" onclick="selectBtn('spoilers')">Select button</button>
        </div>
        <div>
            Landing gear <button id="sel-landinggear" onclick="selectBtn('landinggear')">Select button</button>
        </div>
        <div>
            Pushback <button id="sel-pushback" onclick="selectBtn('pushback')">Select button</button>
        </div>
        <div>
            Reverse thrust <button id="sel-reversethrust" onclick="selectBtn('reversethrust')">Select button</button>
        </div>
        <div>
            Elevator trim up <button id="sel-elevatortrimup" onclick="selectBtn('elevatortrimup')">Select button</button>
        </div>
        <div>
            Elevator trim down <button id="sel-elevatortrimdown" onclick="selectBtn('elevatortrimdown')">Select button</button>
        </div>
        <h4>Lights</h4>
        <div>
            Landing lights <button id="sel-landinglights" onclick="selectBtn('landinglights')">Select button</button>
        </div>
        <div>
            Taxi lights <button id="sel-taxilights" onclick="selectBtn('taxilights')">Select button</button>
        </div>
        <div>
            Strobe lights <button id="sel-strobelights" onclick="selectBtn('strobelights')">Select button</button>
        </div>
        <div>
            Beacon lights <button id="sel-beaconlights" onclick="selectBtn('beaconlights')">Select button</button>
        </div>
        <div>
            Nav lights <button id="sel-navlights" onclick="selectBtn('navlights')">Select button</button>
        </div>
        <h4>Camera</h4>
        <div>
            Toggle HUD <button id="sel-togglehud" onclick="selectBtn('togglehud')">Select button</button>
        </div>
        <div>
            Next camera <button id="sel-nextcamera" onclick="selectBtn('nextcamera')">Select button</button>
        </div>
        <div>
            Prev camera <button id="sel-prevcamera" onclick="selectBtn('prevcamera')">Select button</button>
        </div>
        <div>
            Camera move left <button id="sel-cameramoveleft" onclick="selectBtn('cameramoveleft')">Select button</button>
        </div>
        <div>
            Camera move right <button id="sel-cameramoveright" onclick="selectBtn('cameramoveright')">Select button</button>
        </div>
        <div>
            Camera move down <button id="sel-cameramovedown" onclick="selectBtn('cameramovedown')">Select button</button>
        </div>
        <div>
            Camera move up <button id="sel-cameramoveup" onclick="selectBtn('cameramoveup')">Select button</button>
        </div>
        <div>
            Set cockpit camera <button id="sel-setcockpitcamera" onclick="selectBtn('setcockpitcamera')">Select button</button>
        </div>
        <div>
            Set virtual cockpit camera <button id="sel-setvirtualcockpitcamera" onclick="selectBtn('setvirtualcockpitcamera')">Select button</button>
        </div>
        <div>
            Set follow camera <button id="sel-setfollowcamera" onclick="selectBtn('setfollowcamera')">Select button</button>
        </div>
        <div>
            Set flyby camera <button id="sel-setflybycamera" onclick="selectBtn('setflybycamera')">Select button</button>
        </div>
        <div>
            Set onboard camera <button id="sel-setonboardcamera" onclick="selectBtn('setonboardcamera')">Select button</button>
        </div>
        <div>
            Set tower camera <button id="sel-settowercamera" onclick="selectBtn('settowercamera')">Select button</button>
        </div>
        <h4>ATC</h4>
        <div>
            Show ATC window <button id="sel-showatcwindow" onclick="selectBtn('showatcwindow')">Select button</button>
        </div>
        <div>
            ATC entry 1 <button id="sel-atcentry1" onclick="selectBtn('atcentry1')">Select button</button>
        </div>
        <div>
            ATC entry 2 <button id="sel-atcentry2" onclick="selectBtn('atcentry2')">Select button</button>
        </div>
        <div>
            ATC entry 3 <button id="sel-atcentry3" onclick="selectBtn('atcentry3')">Select button</button>
        </div>
        <div>
            ATC entry 4 <button id="sel-atcentry4" onclick="selectBtn('atcentry4')">Select button</button>
        </div>
        <div>
            ATC entry 5 <button id="sel-atcentry5" onclick="selectBtn('atcentry5')">Select button</button>
        </div>
        <div>
            ATC entry 6 <button id="sel-atcentry6" onclick="selectBtn('atcentry6')">Select button</button>
        </div>
        <div>
            ATC entry 7 <button id="sel-atcentry7" onclick="selectBtn('atcentry7')">Select button</button>
        </div>
        <div>
            ATC entry 8 <button id="sel-atcentry8" onclick="selectBtn('atcentry8')">Select button</button>
        </div>
        <div>
            ATC entry 9 <button id="sel-atcentry9" onclick="selectBtn('atcentry9')">Select button</button>
        </div>
        <div>
            ATC entry 10 <button id="sel-atcentry10" onclick="selectBtn('atcentry10')">Select button</button>
        </div>
        <h4>AP & FPL</h4>
        <div>
            Toggle autopilot <button id="sel-toggleautopilot" onclick="selectBtn('toggleautopilot')">Select button</button>
        </div>
        <div>
            Toggle heading <button id="sel-toggleheading" onclick="selectBtn('toggleheading')">Select button</button>
        </div>
        <div>
            Toggle altitude <button id="sel-togglealtitude" onclick="selectBtn('togglealtitude')">Select button</button>
        </div>
        <div>
            Toggle vs <button id="sel-togglevs" onclick="selectBtn('togglevs')">Select button</button>
        </div>
        <div>
            Toggle speed <button id="sel-togglespeed" onclick="selectBtn('togglespeed')">Select button</button>
        </div>
        <div>
            Toggle approach mode <button id="sel-toggleapproachmode" onclick="selectBtn('toggleapproachmode')">Select button</button>
        </div>
        <h4>Simulator</h4>
        <div>
            Toggle pause <button id="sel-togglepause" onclick="selectBtn('togglepause')">Select button</button>
        </div>
    </div>
    <div style="display: none;" id="menu-more">
        <h2>More</h2>
        <ul>
            <li><b>Author:</b> Map-Flight studio</li>
            <li><b>Version:</b> v1.0.0-alpha.1</li>
            <li><b>Website:</b> coming soon...</li>
        </ul>
    </div>
    <script src="js/index.js"></script>
    <script src="js/gamepad.js"></script>
</body>

</html>
